<template>
    <div class="container">
        <app-header></app-header>
        <hr>
        <div class="row">
            <server-list></server-list>
            <server-detail></server-detail>
        </div>
        <hr>
        <app-footer></app-footer>
    </div>
</template>

<script>
import Header from './Header.vue'
import Footer from './Footer.vue'
import ServerList from './ServerList.vue'
import ServerDetail from './ServerDetail.vue'

export default {
    components: {
        appHeader: Header,
        ServerList,
        ServerDetail,
        'app-footer': Footer
    }
}
</script>


<style>
</style>
